/* Estilos para el contenedor del texto */
.text-container2 {
  background-color: #f0f0f0; /* Color de fondo inicial */
  padding: 0 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave */
}

.text-container2 p {
  text-align: justify;
}

.text-container2:hover {
  background-color: #e0e0e0; /* Color de fondo al hacer hover */
}
