.presentacion-img-ciencias {
  flex: 1;
  margin-right: -80px;
  overflow: hidden;
}

.presentacion-img-ciencias img {
  max-width: 70%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}

.presentacion-img-ciencias:hover img {
  transform: scale(1.2);
}

.presentacion-img-ciencias2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 767px) {
  .presentacion-img-ciencias2 {
    width: 80%;
  }

  .presentacion-img-ciencias {
    width: 100%;
    margin-bottom: 40px;
    margin-top: -30px;
  }
}